<mat-toolbar color='accent' class="z-depth-5">
  <span routerLink="/"><button mat-mini-fab color="primary">
      <mat-icon>home</mat-icon>
    </button></span>
  <span style="margin-left: 10px">SPA - OpenWeatherAPI Dashboard</span>
  <span class="example-spacer"></span>
  <div id="navbar-portal-outlet"></div>
  <span style="margin-left: 10px" routerLink="/bookmarks"><button mat-mini-fab color="primary">
      <mat-icon>bookmarks</mat-icon>
    </button></span>
</mat-toolbar>

<div class="container">
  <div class="card card-custom z-depth-5">
    <div class="card-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer>
  <div style="text-align: center;" class="container">
    <span>Desenvolvido por <strong><a style="text-decoration: none;" href="https://github.com/vicelao"
          target="_blank">Saulo
          Lessa</a></strong>. A chave utilizada nesse projeto é <strong>1a788676b927fd9d836e736fd6e92e25</strong>, mas
      você pode utilizar a sua criando uma conta no endereço <strong><a
          href="https://openweathermap.org/api">https://openweathermap.org/api</a></strong></span>
  </div>
</footer>